.app {
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: white;
}
.main {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./assets/bg.jpg") center;
  display: flex;
  flex-direction: column;
}

.top {
  height: 50%;
  position: relative;
}

.timer {
  position: absolute;
  border-radius: 50%;
  border: 5px solid white;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  left: 20px;
}

.bottom {
  height: 50%;
}

.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question {
  text-align: center;
  background: linear-gradient(#020267, #000000);
  font-size: 20px;
  color: white;
  padding: 20px;
  width: 70%;
  border-radius: 20px;
  border: 3px solid white;
}

.answers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.answer {
  width: 30%;
  padding: 20px;
  background: linear-gradient(#030368, #3a038b);
  border-radius: 20px;
  border: 1px solid white;
  text-align: center;
  color: #ffffff;
  margin: 6px;
  cursor: pointer;
}

.answer:hover,
.answer.active {
  background: #1111bc;
}

.answer.correct {
  animation: correct 3s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#030368, #3a038b);
  }
  62%,
  100% {
    background: rgb(3, 178, 3);
  }
}

.answer.incorrect {
  animation: incorrect 3s ease forwards;
}

@keyframes incorrect {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#030368, #3a038b);
  }
  62%,
  100% {
    background: rgb(206, 0, 0);
  }
}

.pyramid {
  width: 25%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
  align-self: self-start;
  height: 90vh;
  overflow-y: scroll;
}

.moneyListItem {
  padding: 7px;
  border-radius: 7px;
  margin: 5px;
}

.moneyListItem.active {
  background-color: teal;
}

.question-number {
  font-weight: 400;
  font-size: 14px;
  margin-right: 10px;
}
.question-price {
  font-weight: 700;
  font-size: 18px;
}

.active {
  background-color: greenyellow;
}

.gameover {
  position: relative;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.start {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100px;
  align-items: center;
  position: relative;
  justify-content: space-around;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.startInput {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.startInput:focus{
  outline: none;
}

.startButton{
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}